@using Model
@using Services.Implementations
@using System.Security.Claims
@using Geolocation.Blazor

@inject NavigationManager navManager;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IGeolocationService geolocationService

<MudForm @ref="form" Class="page-content" @bind-isValid="success" @bind-Errors="errors">
    <div class="d-flex flex-column overflow-scroll flex-wrap gap-8" style="height: calc(100vh - 200px)">
            <MudItem xs="10" sm="5" Class="flex-1">
                <MudPaper Class="pa-4 flex-1 card">
                    <MudText Align="Align.Center" Color="Color.Default">Location</MudText>
                    <MudSelect Disabled="@ViewType.Equals("detail")" T="int" Label="Size" Required="true" RequiredError="Required!" @bind-Value="Report.Location.Size" AnchorOrigin="Origin.BottomCenter">
                                            <MudSelectItem Value="@(1)">Small</MudSelectItem>
                                            <MudSelectItem Value="@(2)">Medium</MudSelectItem>
                                            <MudSelectItem Value="@(3)">Large</MudSelectItem>
                                        </MudSelect>
                    <MudTextField Disabled="@ViewType.Equals("detail")" T="double" Label="Latitude"  Required="true" RequiredError="Required!" @bind-Value="Report.Location.Latitude"/>
                    <MudTextField Disabled="@ViewType.Equals("detail")" T="double" Label="Longitude" Required="true" RequiredError="Required!" @bind-Value="Report.Location.Longitude"/>
                    <MudButton Disabled="@ViewType.Equals("detail")" Class="mt-2" StartIcon="@locationButtonIcon" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async() => await GetLocation())">@locationButtonText</MudButton>
                </MudPaper>
            </MudItem>
        
        
            @if (ViewType.Equals("detail"))
            {
                <MudItem xs="10" sm="5" Class="flex-1">
                    <MudPaper Class="pa-4 flex-1 card">
                        <MudText Align="Align.Center" Color="Color.Default">When was the place discoverd?</MudText>

                        <MudDatePicker Disabled="@ViewType.Equals("detail")" Label="Date" @bind-Date="@Date" Required="true" RequiredError="Required!"/>
                        <MudTimePicker Disabled="@ViewType.Equals("detail")" Label="Time" @bind-Time="@Time" Required="true" RequiredError="Required!"/>
                    </MudPaper>
                </MudItem>
            }
        
            <MudItem xs="10" sm="5" Class="flex-1">
                <MudPaper Class="pa-4 flex-1 card">
                    <MudText Align="Align.Center" Color="Color.Default">Others</MudText>
                    @if (ViewType != "create")
                    {
                        <MudSelect Disabled="@ViewType.Equals("detail")" T="string" Label="Status" Required="true" RequiredError="Required!" @bind-Value="Report.Status" AnchorOrigin="Origin.BottomCenter">
                            <MudSelectItem Value="@("Under Review")"/>
                            <MudSelectItem Value="@("Approved")"/>
                            <MudSelectItem Value="@("Not Approved")"/>
                        </MudSelect>
                    }
                    <MudTextField Disabled="@ViewType.Equals("detail")" T="string" Label="Description" Required="true" RequiredError="Required!" Lines="4" @bind-Value="Report.Description"/>
                </MudPaper>
            </MudItem>

        <MudItem xs="10" sm="5">
            <MudPaper Class="pa-4 flex-1 card">
                <MudText Align="Align.Center" Color="Color.Default">Picture</MudText>

                @{
                    if (Report?.Proof != null)
                    {
                        var base64 = Convert.ToBase64String(Report.Proof);
                        var imgSrc = String.Format("data:{0};base64,{1}", "image/jpg", base64);
                        <img src="@imgSrc" style="width: 400px"/>
                    }
                    else
                    {
                        <div style="width: 400px; height: 400px; background-color: #6c757d;" Class="d-flex align-center justify-center">
                            <MudText Align="Align.Center" Style="color: #ffffff">No image</MudText>
                        </div>
                    }
                }
                <MudFileUpload Disabled="@ViewType.Equals("detail")" Class="d-flex align-center justify-center" T="IBrowserFile" Accept=".jpg" Required="true" RequiredError="Required!" FilesChanged="UploadFile">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Filled.CloudUpload"
                                   Disabled="@ViewType.Equals("detail")"
                                   for="@context">
                            Upload Files
                        </MudButton>
                    </ButtonTemplate>
                    <SelectedTemplate >
                        @if (context != null)
                        {
                            <MudText Align="Align.Center">@context.Name</MudText>
                        }
                    </SelectedTemplate>
                </MudFileUpload>

            </MudPaper>
        </MudItem>
    </div>
    <MudItem>
        <div class="d-flex align-center justify-space-around mt-5">
            <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Transparent" DisableElevation="true" OnClick="@(() => navManager.NavigateTo("/reports"))">Back to reports</MudButton>

            @if (Role != null && Report != null)
            {
                @if (Report.Status != null && Role.Equals("Admin") && Report.Status.Equals("Under Review") && ViewType.Equals("detail"))
                {
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ThumbUp" Color="Color.Success" OnClick="@(() => ApproveReport.InvokeAsync("Approved"))">Approve</MudButton>
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ThumbDown" Color="Color.Error" OnClick="@(() => ApproveReport.InvokeAsync("Not Approved"))">Reject</MudButton>
                }
                @if(Report.Status != null && Role.Equals("User") && Report.Status.Equals("Approved") && ViewType.Equals("detail"))
                {
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Success" OnClick="@(()=>navManager.NavigateTo("/events/new/" + Report.Id))">Create Event</MudButton>    
                }
                
                @if (Role.Equals("User") && Report.Status == null && ViewType.Equals("create"))
                {
                    <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" @onclick="CreateReport">Create</MudButton>
                }            
            }
        </div>
    </MudItem>        
</MudForm>

@code {
    [Parameter]  
    public string ViewType { get; set; }
    
    [Parameter]
    public EventCallback<string> ViewTypeChanged { get; set; }
    
    [Parameter]  
    public Report? Report { get; set; }
    
    [Parameter]
    public EventCallback<Report> ReportChanged { get; set; }
    
    [Parameter]
    public EventCallback<Report> SaveReport { get; set; }
    
    [Parameter]
    public EventCallback<string> ApproveReport { get; set; }
    
    
    bool success;
    string[] errors = { };
    MudTextField<string> pwField;
    MudForm form;

    string locationButtonIcon = Icons.Filled.MyLocation;
    string locationButtonText = "Get Current Location";

    public string? Role { get; set; }
    public DateTime? Date { get; set; }
    public TimeSpan? Time { get; set; }

    protected override void OnInitialized()
    {
        if (Report?.Date != null || Report?.Time != null)
        {
            Date = new DateTime(Report.Date[0], Report.Date[1], Report.Date[2]);
            Time = new TimeSpan(Report.Time[0], Report.Time[1], Report.Time[2]);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        string token = await localStorage.GetItemAsync<string>("JWT");
        IEnumerable<Claim> claims = AuthService.CreateClaimsPrincipal(token).Claims;
        Role = claims.First(claim => claim.Type.Equals("role")).Value;
    }

    private async Task CreateReport()
    {
        var tempDate = new[] {Date?.Year ?? 1999, Date?.Month ?? 1, Date?.Day ?? 1};
        var tempTime = new[] {Time?.Hours ?? 1, Time?.Minutes ?? 1, Time?.Seconds ?? 1};
        
        await SaveReport.InvokeAsync(new Report(Report.Id, tempDate, tempTime, Report.Proof, Report.Description, Report.Status, Report.Location));  
    }
    
    private async Task GetLocation()
    {
        locationButtonIcon = Icons.Filled.Cached;
        locationButtonText = "Loading Location";
        
        GeolocationPosition location = await geolocationService.GetCurrentPositionAsync(new PositionOptions { EnableHighAccuracy = true });
        Report.Location = new Location(location.Coords.Latitude, location.Coords.Longitude, Report.Location.Size);
        
        locationButtonIcon = Icons.Filled.MyLocation;
        locationButtonText = "Get Current Location";
    }
    
    private async void UploadFile(IBrowserFile file)
    {
        using (var ms = new MemoryStream())
        {
            await file.OpenReadStream(15*1000*1000).CopyToAsync(ms);
            Report.Proof = ms.ToArray();
        }
    }

}